@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Bree+Serif&display=swap");
$amarillo_menu: #edcd1f;
$azul_pagina: #1e2d3b;
$blanco_pagina: #ffffff;
$gris_pagina: #c6c6c6;
$b_gris_pagina: #f7f7f7;
$MedidaEnlace: 50px;
$blanco_boxtext: #f7f7f7;

html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
}
header {
  width: 100%;
  height: 20%;
  z-index: 3;
}
#menu_fixed {
  position: fixed;
  width: 100%;
  z-index: 6;
}
#logos {
  width: 22%;
  height: 12.9vh;
  background: $amarillo_menu;
  float: left;
}

#logos > .logo {
  & img {
    width: 70px;
    height: 70px;
    margin: 4.5% 0% 0% 3%;
  }

  & #esfera {
    display: block;
    font-size: 24px;
    font-family: "Oswald", sans-serif;

    margin: -21.5% 0% 0% 29%;
  }

  & #construcciones {
    display: block;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    margin: -0.5% 0% 0% 29%;
    padding: 0% 0% 10% 0%;
  }
}
// SEPARACION DEL MENU
#menu {
  width: 78%;
  height: 12.9vh;
  background: $azul_pagina;
  float: left;
  & .botones {
    float: right;
    text-align: center;
    list-style: none;
    margin: 5% 2% 0% 5%;
    & a {
      font-family: "Roboto", sans-serif;
      text-align: center;
      color: white;
      text-decoration: none;
      font-size: 15px;
    }
    & a:hover {
      color: $amarillo_menu;
    }
  }
}

// INICIA LA PARTE DEL VIDEO

body #video {
  & section {
    width: 100%;
    height: 100%;
    background: white;
    position: relative;

    //TAMAÑO DEL VIDEO
    & video {
      width: 100%;
      object-fit: cover;
      height: 90vh;
      z-index: -1;
    }

    & h1 {
      margin: 0;
      padding: 0;
      color: white;
      width: 50%;
      top: 50%;
      position: absolute;
      margin: 0% 0% 0% 25%;
      text-align: center;
      text-shadow: -2px -2px 2px $azul_pagina;
      & #flecha {
        display: block;
        & .fa {
          color: $amarillo_menu;
          font-size: 50px;
        }
      }

      & span {
        display: inline-block;
        font-family: "Roboto", sans-serif;
        font-size: 60px;
        color: $amarillo_menu;
      }
    }
  }
}

#servicios {
  & section {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
  }
  & .sec1 {
    background: url("../../PW_ForumRevista/img/ciudad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    //es para que el bloque se quede estatico y se pueda mover
    background-attachment: fixed;
    & #nosotros_fondo {
      width: 50%;
      height: 50vh;
      background: $b_gris_pagina;
      float: left;
      margin: 0%;
      border: 50px solid $b_gris_pagina;
      border-bottom: 327.5px solid $b_gris_pagina;
      & #titulo_nosotros {
        display: inline-block;
        font-family: "Oswald", sans-serif;
        color: $gris_pagina;
        font-size: 75px;
        margin-left: 40%;
        margin-top: 7%;
        background: $b_gris_pagina;
      }
      & #linea_nosotros {
        display: inline-block;
        padding: 0.7% 8%;
        margin: 0% 0% 4% 41%;
        background: $amarillo_menu;
      }
      & #texto_nosotros {
        display: inline-block;
        margin: 5% 5% 0% 40%;
        & p {
          font-size: 17px;
          color: black;
          font-family: "Roboto";
          text-align: justify;
        }
      }
    }
  }

  & .secText {
    padding: 50px 100px;
    width: 100%;
    height: 100vh;
    & #servicios_texto {
      display: block;
      margin: 4% 30%;
      & h1 {
        text-align: center;
        margin: 0;
        padding: 0;
        font-family: "Roboto", sans-serif;
        font-size: 60px;
        color: $gris_pagina;
      }
    }
    & #linea {
      display: inline-block;
      padding: 0.4% 4%;
      margin: -50% 0% 4% 46%;
      background: $amarillo_menu;
    }
  }
  // Empezamos con el flex box
  #separaciones {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    & #separacion1 {
      width: 23%;
      height: 65vh;
      background-size: cover;
      background-position: center center;
      display: flex;
      & #imagen {
        display: block;
        margin: -65% 0% 0% 70%;
        & h1 {
          text-align: justify;
          padding: 20px;
          color: $azul_pagina;
          font-family: "Roboto", sans-serif;
          background: $b_gris_pagina;
        }

        & p {
          text-align: justify;
          font-family: "Roboto", sans-serif;
          padding: 0px 20px 35px 20px;
          background: $b_gris_pagina;
        }
      }
      & img {
        width: 20vw;
        height: 30vh;
        //para convertir la imagen en tipo bloque
        display: block;
        border: 2px solid $b_gris_pagina;
      }
    }
    & #separacion2 {
      width: 23%;
      height: 65vh;
      background-size: cover;
      background-position: center center;
      margin: 30px 0px 0px 28px;
      display: flex;
      & #imagen {
        display: block;
        margin: -65% 0% 0% 10%;
      }
      & h1 {
        text-align: justify;
        padding: 20px;
        color: $azul_pagina;
        font-family: "Roboto", sans-serif;
        background: $b_gris_pagina;
      }

      & p {
        text-align: justify;
        font-family: "Roboto", sans-serif;
        padding: 0px 20px 36px 20px;
        background: $b_gris_pagina;
      }
      & img {
        width: 20vw;
        height: 30vh;
        //para convertir la imagen en tipo bloque
        display: block;
        border: 1px solid $b_gris_pagina;
      }
    }
    & #separacion3 {
      width: 23%;
      height: 65vh;
      background-size: cover;
      background-position: center center;
      margin: 30px 0px 0px 28px;
      display: flex;
      & #imagen {
        display: block;
        margin: -65% 0% 0% -50%;
      }

      & img {
        width: 20vw;
        height: 30vh;
        //para convertir la imagen en tipo bloque
        display: block;
        border: 2px solid $b_gris_pagina;
      }
      & #text {
        width: 20.2vw;
        height: 30vh;
        display: block;
        & h1 {
          text-align: justify;
          padding: 20px;
          color: $azul_pagina;
          font-family: "Roboto", sans-serif;
          background: $b_gris_pagina;
        }

        & p {
          text-align: justify;
          font-family: "Roboto", sans-serif;
          padding: 0px 20px 36px 20px;
          background: $b_gris_pagina;
        }
      }
    }
  }
}

#separacion_amarilla {
  #fondo_amarillo {
    width: 100%;
    height: 30%;
    background: $amarillo_menu;

    & #año_2003 {
      width: 20%;
      height: 30vh;
      display: block;
      padding-top: 1%;
      margin-left: 7%;
      & h1 {
        text-align: center;
        font-family: "Oswald", sans-serif;
        font-size: 59px;
        color: white;
        margin-left: 40%;
      }
      & p {
        text-align: center;
        font-family: "Oswald", sans-serif;
        color: $azul_pagina;
        font-size: 25px;
        margin-top: -10px;
        margin-left: 40%;
      }
      & #img_1 {
        display: block;
        margin-top: -69%;
        margin-left: 105%;
      }
    }

    & #numero_206 {
      display: block;
      background: $amarillo_menu;
      padding-bottom: 4%;
      margin-left: -90%;
      margin-top: -15%;
      & h1 {
        text-align: center;
        font-family: "Oswald", sans-serif;
        font-size: 59px;
        color: white;
        padding-bottom: 3%;
        margin-left: 34%;
      }
      & p {
        font-family: "Oswald", sans-serif;
        color: $azul_pagina;
        text-align: center;
        font-size: 25px;
        margin-top: -3%;
        margin-left: 35%;
      }
      & #img_2 {
        display: block;
        margin-top: -5.2%;
        margin-left: 15%;
      }
    }

    & #numero_871 {
      display: block;
      background: $amarillo_menu;
      padding-bottom: 4%;
      margin-left: -10%;
      margin-top: -13%;
      & h1 {
        text-align: center;
        font-family: "Oswald", sans-serif;
        font-size: 59px;
        color: white;
        padding-bottom: 3%;
        margin-left: 23%;
      }
      & p {
        font-family: "Oswald", sans-serif;
        color: $azul_pagina;
        text-align: center;
        font-size: 25px;
        margin-left: 24%;
        margin-top: -3%;
        & #img_3 {
          display: block;
          margin-top: -8%;
          margin-left: 25%;
        }
      }
    }

    & #premios_numero {
      display: block;
      background: $amarillo_menu;
      padding-bottom: 4%;
      margin-left: -15%;
      margin-top: -12%;
      & h1 {
        text-align: center;
        font-family: "Oswald", sans-serif;
        font-size: 59px;
        color: white;
        padding-bottom: 3%;
        margin-left: 60%;
        margin-top: -11.4%;
      }
      & p {
        font-family: "Oswald", sans-serif;
        color: $azul_pagina;
        text-align: center;
        font-size: 25px;
        margin-left: 60%;
        margin-top: -4%;
      }
    }
  }
}

#Proyectos {
  & .secText_1 {
    padding: 50px 100px;
    width: 100%;
    height: 170vh;
  }

  width: 98.9vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  background: transparent;

  & #texto_proyecto {
    display: block;
    & h1 {
      font-family: "Oswald", sans-serif;
      font-size: 60px;
      color: $gris_pagina;
      text-align: center;
      margin-top: 3%;
    }
  }
  & #linea_proyectos {
    display: inline-block;
    padding: 0.3% 4%;
    margin: 0% 0% 4% 46%;
    background: $amarillo_menu;
  }

  & .row {
    width: 100%;
    display: flex;
    justify-content: center;

    & div {
      position: relative;

      & img {
        width: 90%;
        height: 95%;
        //para convertir la imagen en tipo bloque
        display: block;
        opacity: 1;
        z-index: -2;
      }

      & span {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        //PARA QUE ESTE OCULTO
        visibility: hidden;
        font-size: 30px;
        color: $azul_pagina;
        font-family: "Oswald", sans-serif;
      }

      & span::after {
        content: attr("data-text");
      }
    }
  }
  //ESTABLEZCO EL HOVER Y SU OPACIDAD
  & div:hover > img {
    opacity: 0.3;
    transition: 0.5s;
  }

  & div:hover > span {
    visibility: visible;
  }
}

$color1: #18191f;
$color_azul: #00f3ff;
$MedidaEnlace: 50px;
$Colores: #00f3ff, red, greenyellow;
$Fila: 1, 2, 3;

#f_clientes {
  & #Clientes {
    width: 100%;
    height: 40vh;
    background: $b_gris_pagina;
    & #texto_proyecto {
      & h1 {
        color: $gris_pagina;
        font-family: "Oswald";
        font-size: 70px;
      }
    }
    //  TIPOX LOGO
    & #iconos_1 {
      display: block;
      margin: 0px 0px 0px 15%;
      & ul {
        position: relative;
        display: flex;

        & > li {
          list-style: none;
          display: block;
          font-family: "Bree Serif", serif;
          font-size: 40px;
          & .fa {
            font-size: 40px;
            color: #555;
            margin-left: -5%;
          }

          &:hover .fa {
            color: nth($amarillo_menu, 1);
            //es para la sombra de el fa que cambie de color
            text-shadow: 0 0 15px $amarillo_menu;
          }
        }
      }
    }

    // EXCIPIA
    & #iconos_2 {
      & ul {
        display: block;
        margin: -3.9% 0% 0% 30%;
        position: relative;
        display: flex;
        & li {
          list-style: none;
          display: block;
          font-family: "Oswald", serif;
          font-size: 40px;
          color: #555;
          &:hover {
            color: nth(#07eba4, 1);
          }
        }
      }
    }

    // VIDE
    & #iconos_3 {
      & ul {
        display: block;
        margin: -3.9% 0% 0% 45%;
        position: relative;
        display: flex;
        & li {
          list-style: none;
          display: block;
          font-family: "Oswald", serif;
          font-size: 40px;
          color: #555;
          &:hover {
            color: nth(#3b5999, 1);
          }
          //PARA CAMBIAR EL ICONO DE COLOR
          &:hover .fa {
            color: nth(red, 1);
            text-shadow: 0 0 15px red;
          }
        }
      }
    }
    // DEHOTEL
    & #iconos_4 {
      & ul {
        display: block;
        margin: -3.9% 0% 0% 60%;
        position: relative;
        display: flex;
        & li {
          list-style: none;
          display: block;
          font-family: "Bebas Neue", cursive;

          font-size: 40px;
          color: #555;
          &:hover {
            color: nth(#e80ca9, 1);
          }
          & span {
            font-family: "Roboto", serif;
            font-size: 38px;
          }
        }
      }
    }

    // UMBER &CO
    & #iconos_5 {
      & ul {
        display: block;
        margin: -3.9% 0% 0% 75%;
        position: relative;
        display: flex;
        & li {
          list-style: none;
          display: block;
          &:hover {
            color: nth($amarillo_menu, 1);
          }
          & .fa {
            font-size: 60px;
          }
          & #span_1 {
            display: block;
            font-family: "Bebas Neue", cursive;
            font-size: 28px;
            margin: -100% 0% 0% 110%;
          }
          & #span_2 {
            display: block;
            font-family: "Roboto", serif;
            font-size: 28px;
            margin: -20% 0% 0% 110%;
          }
        }
      }
    }
  }
}

#contacto {
  & #sec_contacto {
    width: 98.9%;
    height: 165vh;
    display: flex;
    flex-direction: column;

    & #texto_contacto {
      display: block;
      margin-top: 5%;
      & h1 {
        font-family: "Oswald", sans-serif;
        font-size: 65px;
        color: $gris_pagina;
        text-align: center;
        margin-top: 3%;
      }
      & #linea_contacto {
        display: inline-block;
        padding: 0.3% 4%;
        margin: 0% 0% 4% 46%;
        background: $amarillo_menu;
      }
    }
    & #mapa {
      display: block;
      margin: -1% 0% 0% 18%;
    }

    & #oficina_principal {
      margin: 2% 0% 0% 60%;
      & h1 {
        font-family: "Oswald", sans-serif;
        font-size: 25px;
      }

      & #dir {
        margin: 1% 0% 0% 60%;

        & p {
          font-family: "Roboto";
          font-size: 18px;
        }
      }
      & #correo_e_inf {
        margin: 0% 0% 0% 60%;

        & p {
          font-family: "Roboto";
          font-size: 18px;
        }
      }
    }
    & #preguntas {
      margin: -12% 0% 0% 18%;
      font-family: "Roboto";
      font-size: 18px;

      & h1 {
        font-family: "Oswald", sans-serif;
        font-size: 28px;
      }
      & #texto_pregunta {
        display: block;
        margin: 2% 0% 0% 0%;

        & p {
          font-family: "Roboto";
          font-size: 18px;
        }
      }
    }

    & #empleos {
      margin: 8% 0% 0% 60%;

      & h1 {
        font-family: "Oswald", sans-serif;
        font-size: 28px;
      }
      & #texto_empleos {
        display: block;
        margin: 2% 0% 0% 0%;

        & p {
          font-family: "Roboto";
          font-size: 18px;
        }
      }
    }

    & #formulario {
      display: block;

      & #nombre_span {
        display: block;
        margin: -10% 0% 0% 18%;
        & #Nombre {
          width: 30.4%;
          background: $blanco_boxtext;
          height: 3vh;

          font-size: 16px;
          border: 0;
        }
      }

      & #email_span {
        display: block;
        margin: 0.5% 0% 0% 18%;
        & #email {
          width: 30.4%;
          height: 3vh;
          font-size: 16px;
          background: $blanco_boxtext;
          border: 0;
        }
      }

      & #asunto_span {
        display: block;
        margin: 0.5% 0% 0% 18%;
        & #asunto {
          width: 30.4%;
          font-size: 16px;
          background: $blanco_boxtext;
          border: 0;
          height: 3vh;
        }
      }
      & #mensaje_span {
        display: block;
        margin: 0.5% 0% 0% 18%;
        & #mensaje {
          font-size: 16px;
          background: $blanco_boxtext;
          border: 0;
        }
      }

      & #enviar_boton {
        display: block;
        margin: 0.5% 0% 0% 39.5%;
        & #enviar {
          background: $azul_pagina;
          color: $blanco_pagina;
          border: 0;
          width: 6%;
          font-family: "Roboto";
          height: 4.5vh;
          font-size: 15px;
          text-align: center;
        }
      }

      & #linea_final {
        display: inline-block;
        padding: 0.3% 3%;
        margin: -50% 0% 4% 60%;
        background: $amarillo_menu;
      }
      & #presupuesto {
        display: block;
        margin: -3.5% 0% 0% 60%;
        & h1 {
          font-family: "Roboto";
          font-size: 30px;
          color: $azul_pagina;
        }

        & #num {
          & h1 {
            font-family: "Roboto";
            font-size: 30px;
            color: $azul_pagina;
          }
        }
      }
    }
  }
}

footer {
  // PARA ACOMODAR LOS ICONOS
  & #icono {
    padding-top: 1%;
    width: 100%;
    height: 5vh;
    & .iconos {
      float: right;
      text-align: center;
      list-style: none;
      margin: 0% 1% 0% 0%;
      padding-bottom: 2%;

      & #final {
        display: block;
        font-family: "Roboto";
        margin: 15% 0% 0% -1000%;
      }

      & a {
        display: block;
        //se establece medida para le fondo
        width: $MedidaEnlace;
        height: $MedidaEnlace;
        line-height: $MedidaEnlace;
        background: $blanco_boxtext;
        text-align: center;
        margin: 0 0px;
        border-radius: 25px;
        & .fa {
          font-size: 22px;
          color: #555;
        }
      }
    }
  }
}
