@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap");
$amarillo_menu: #edcd1f;
$azul_pagina: #1e2d3b;
$blanco_pagina: #ffffff;
* {
  margin: 0px;
  padding: 0px;
}
header{
  width: 100%;
  height: 20%;
}
#menu_fixed {
  position: fixed;
  width: 100%;
}
#logos {
  width: 22%;
  height: 12.9vh;
  background: $amarillo_menu;
  float: left;
}

#logos > .logo {
  & img {
    width: 70px;
    height: 70px;
    margin: 4.5% 0% 0% 3%;
  }

  & #esfera {
    display: block;
    font-size: 24px;
    font-family: "Oswald", sans-serif;

    margin: -20% 0% 0% 29%;
  }

  & #construcciones {
    display: block;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    margin: -0.5% 0% 0% 29%;
    padding: 0% 0% 10% 0%;
  }
}
// SEPARACION DEL MENU
#menu {
  width: 78%;
  height: 12.9vh;
  background: $azul_pagina;
  float: left;
  & .botones {
    float: right;
    text-align: center;
    list-style: none;
    margin: 5% 2% 0% 5%;
    & a {
      font-family: "Roboto", sans-serif;
      text-align: center;
      color: white;
      text-decoration: none;
      font-size: 15px;
    }
  }
}


// INICIA LA PARTE DEL VIDEO

body #video {
  & section {
    width: 100%;
    height: 90vh;
    background: white;
    
    //TAMAÑO DEL VIDEO
    & video {
      width: 100%;
      object-fit: cover;
      height: 90%;
    }
    
    &  h1 {
      margin: 0;
      padding: 0;
      color: white;
      width: 50%;
      top: 50%;
      position: absolute;

      margin: 0% 0% 0% 25%;
      text-align: center;
      text-shadow: -2px -2px 2px $azul_pagina;
  
      & #flecha {
        display: block;
        & .fa{
          color: $amarillo_menu;
          font-size: 50px;
        }
      }
  
      & span {
        display: inline-block;
        font-family: "Roboto", sans-serif;
        font-size: 60px;
        color: $amarillo_menu;
      }
    }
  }
  }
