@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Bree+Serif&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  height: 20%;
  z-index: 3;
}

#menu_fixed {
  position: fixed;
  width: 100%;
  z-index: 6;
}

#logos {
  width: 22%;
  height: 12.9vh;
  background: #edcd1f;
  float: left;
}

#logos > .logo img {
  width: 70px;
  height: 70px;
  margin: 4.5% 0% 0% 3%;
}
#logos > .logo #esfera {
  display: block;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  margin: -21.5% 0% 0% 29%;
}
#logos > .logo #construcciones {
  display: block;
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  margin: -0.5% 0% 0% 29%;
  padding: 0% 0% 10% 0%;
}

#menu {
  width: 78%;
  height: 12.9vh;
  background: #1e2d3b;
  float: left;
}
#menu .botones {
  float: right;
  text-align: center;
  list-style: none;
  margin: 5% 2% 0% 5%;
}
#menu .botones a {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
}
#menu .botones a:hover {
  color: #edcd1f;
}

body #video section {
  width: 100%;
  height: 100%;
  background: white;
  position: relative;
}
body #video section video {
  width: 100%;
  object-fit: cover;
  height: 90vh;
  z-index: -1;
}
body #video section h1 {
  margin: 0;
  padding: 0;
  color: white;
  width: 50%;
  top: 50%;
  position: absolute;
  margin: 0% 0% 0% 25%;
  text-align: center;
  text-shadow: -2px -2px 2px #1e2d3b;
}
body #video section h1 #flecha {
  display: block;
}
body #video section h1 #flecha .fa {
  color: #edcd1f;
  font-size: 50px;
}
body #video section h1 span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  color: #edcd1f;
}

#servicios section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
#servicios .sec1 {
  background: url("../../PW_ForumRevista/img/ciudad.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#servicios .sec1 #nosotros_fondo {
  width: 50%;
  height: 50vh;
  background: #f7f7f7;
  float: left;
  margin: 0%;
  border: 50px solid #f7f7f7;
  border-bottom: 327.5px solid #f7f7f7;
}
#servicios .sec1 #nosotros_fondo #titulo_nosotros {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  color: #c6c6c6;
  font-size: 75px;
  margin-left: 40%;
  margin-top: 7%;
  background: #f7f7f7;
}
#servicios .sec1 #nosotros_fondo #linea_nosotros {
  display: inline-block;
  padding: 0.7% 8%;
  margin: 0% 0% 4% 41%;
  background: #edcd1f;
}
#servicios .sec1 #nosotros_fondo #texto_nosotros {
  display: inline-block;
  margin: 5% 5% 0% 40%;
}
#servicios .sec1 #nosotros_fondo #texto_nosotros p {
  font-size: 17px;
  color: black;
  font-family: "Roboto";
  text-align: justify;
}
#servicios .secText {
  padding: 50px 100px;
  width: 100%;
  height: 100vh;
}
#servicios .secText #servicios_texto {
  display: block;
  margin: 4% 30%;
}
#servicios .secText #servicios_texto h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  color: #c6c6c6;
}
#servicios .secText #linea {
  display: inline-block;
  padding: 0.4% 4%;
  margin: -50% 0% 4% 46%;
  background: #edcd1f;
}
#servicios #separaciones {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#servicios #separaciones #separacion1 {
  width: 23%;
  height: 65vh;
  background-size: cover;
  background-position: center center;
  display: flex;
}
#servicios #separaciones #separacion1 #imagen {
  display: block;
  margin: -65% 0% 0% 70%;
}
#servicios #separaciones #separacion1 #imagen h1 {
  text-align: justify;
  padding: 20px;
  color: #1e2d3b;
  font-family: "Roboto", sans-serif;
  background: #f7f7f7;
}
#servicios #separaciones #separacion1 #imagen p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  padding: 0px 20px 35px 20px;
  background: #f7f7f7;
}
#servicios #separaciones #separacion1 img {
  width: 20vw;
  height: 30vh;
  display: block;
  border: 2px solid #f7f7f7;
}
#servicios #separaciones #separacion2 {
  width: 23%;
  height: 65vh;
  background-size: cover;
  background-position: center center;
  margin: 30px 0px 0px 28px;
  display: flex;
}
#servicios #separaciones #separacion2 #imagen {
  display: block;
  margin: -65% 0% 0% 10%;
}
#servicios #separaciones #separacion2 h1 {
  text-align: justify;
  padding: 20px;
  color: #1e2d3b;
  font-family: "Roboto", sans-serif;
  background: #f7f7f7;
}
#servicios #separaciones #separacion2 p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  padding: 0px 20px 36px 20px;
  background: #f7f7f7;
}
#servicios #separaciones #separacion2 img {
  width: 20vw;
  height: 30vh;
  display: block;
  border: 1px solid #f7f7f7;
}
#servicios #separaciones #separacion3 {
  width: 23%;
  height: 65vh;
  background-size: cover;
  background-position: center center;
  margin: 30px 0px 0px 28px;
  display: flex;
}
#servicios #separaciones #separacion3 #imagen {
  display: block;
  margin: -65% 0% 0% -50%;
}
#servicios #separaciones #separacion3 img {
  width: 20vw;
  height: 30vh;
  display: block;
  border: 2px solid #f7f7f7;
}
#servicios #separaciones #separacion3 #text {
  width: 20.2vw;
  height: 30vh;
  display: block;
}
#servicios #separaciones #separacion3 #text h1 {
  text-align: justify;
  padding: 20px;
  color: #1e2d3b;
  font-family: "Roboto", sans-serif;
  background: #f7f7f7;
}
#servicios #separaciones #separacion3 #text p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  padding: 0px 20px 36px 20px;
  background: #f7f7f7;
}

#separacion_amarilla #fondo_amarillo {
  width: 100%;
  height: 30%;
  background: #edcd1f;
}
#separacion_amarilla #fondo_amarillo #año_2003 {
  width: 20%;
  height: 30vh;
  display: block;
  padding-top: 1%;
  margin-left: 7%;
}
#separacion_amarilla #fondo_amarillo #año_2003 h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 59px;
  color: white;
  margin-left: 40%;
}
#separacion_amarilla #fondo_amarillo #año_2003 p {
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #1e2d3b;
  font-size: 25px;
  margin-top: -10px;
  margin-left: 40%;
}
#separacion_amarilla #fondo_amarillo #año_2003 #img_1 {
  display: block;
  margin-top: -69%;
  margin-left: 105%;
}
#separacion_amarilla #fondo_amarillo #numero_206 {
  display: block;
  background: #edcd1f;
  padding-bottom: 4%;
  margin-left: -90%;
  margin-top: -15%;
}
#separacion_amarilla #fondo_amarillo #numero_206 h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 59px;
  color: white;
  padding-bottom: 3%;
  margin-left: 34%;
}
#separacion_amarilla #fondo_amarillo #numero_206 p {
  font-family: "Oswald", sans-serif;
  color: #1e2d3b;
  text-align: center;
  font-size: 25px;
  margin-top: -3%;
  margin-left: 35%;
}
#separacion_amarilla #fondo_amarillo #numero_206 #img_2 {
  display: block;
  margin-top: -5.2%;
  margin-left: 15%;
}
#separacion_amarilla #fondo_amarillo #numero_871 {
  display: block;
  background: #edcd1f;
  padding-bottom: 4%;
  margin-left: -10%;
  margin-top: -13%;
}
#separacion_amarilla #fondo_amarillo #numero_871 h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 59px;
  color: white;
  padding-bottom: 3%;
  margin-left: 23%;
}
#separacion_amarilla #fondo_amarillo #numero_871 p {
  font-family: "Oswald", sans-serif;
  color: #1e2d3b;
  text-align: center;
  font-size: 25px;
  margin-left: 24%;
  margin-top: -3%;
}
#separacion_amarilla #fondo_amarillo #numero_871 p #img_3 {
  display: block;
  margin-top: -8%;
  margin-left: 25%;
}
#separacion_amarilla #fondo_amarillo #premios_numero {
  display: block;
  background: #edcd1f;
  padding-bottom: 4%;
  margin-left: -15%;
  margin-top: -12%;
}
#separacion_amarilla #fondo_amarillo #premios_numero h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 59px;
  color: white;
  padding-bottom: 3%;
  margin-left: 60%;
  margin-top: -11.4%;
}
#separacion_amarilla #fondo_amarillo #premios_numero p {
  font-family: "Oswald", sans-serif;
  color: #1e2d3b;
  text-align: center;
  font-size: 25px;
  margin-left: 60%;
  margin-top: -4%;
}

#Proyectos {
  width: 98.9vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  background: transparent;
}
#Proyectos .secText_1 {
  padding: 50px 100px;
  width: 100%;
  height: 170vh;
}
#Proyectos #texto_proyecto {
  display: block;
}
#Proyectos #texto_proyecto h1 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  color: #c6c6c6;
  text-align: center;
  margin-top: 3%;
}
#Proyectos #linea_proyectos {
  display: inline-block;
  padding: 0.3% 4%;
  margin: 0% 0% 4% 46%;
  background: #edcd1f;
}
#Proyectos .row {
  width: 100%;
  display: flex;
  justify-content: center;
}
#Proyectos .row div {
  position: relative;
}
#Proyectos .row div img {
  width: 90%;
  height: 95%;
  display: block;
  opacity: 1;
  z-index: -2;
}
#Proyectos .row div span {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  visibility: hidden;
  font-size: 30px;
  color: #1e2d3b;
  font-family: "Oswald", sans-serif;
}
#Proyectos .row div span::after {
  content: attr("data-text");
}
#Proyectos div:hover > img {
  opacity: 0.3;
  transition: 0.5s;
}
#Proyectos div:hover > span {
  visibility: visible;
}

#f_clientes #Clientes {
  width: 100%;
  height: 40vh;
  background: #f7f7f7;
}
#f_clientes #Clientes #texto_proyecto h1 {
  color: #c6c6c6;
  font-family: "Oswald";
  font-size: 70px;
}
#f_clientes #Clientes #iconos_1 {
  display: block;
  margin: 0px 0px 0px 15%;
}
#f_clientes #Clientes #iconos_1 ul {
  position: relative;
  display: flex;
}
#f_clientes #Clientes #iconos_1 ul > li {
  list-style: none;
  display: block;
  font-family: "Bree Serif", serif;
  font-size: 40px;
}
#f_clientes #Clientes #iconos_1 ul > li .fa {
  font-size: 40px;
  color: #555;
  margin-left: -5%;
}
#f_clientes #Clientes #iconos_1 ul > li:hover .fa {
  color: #edcd1f;
  text-shadow: 0 0 15px #edcd1f;
}
#f_clientes #Clientes #iconos_2 ul {
  display: block;
  margin: -3.9% 0% 0% 30%;
  position: relative;
  display: flex;
}
#f_clientes #Clientes #iconos_2 ul li {
  list-style: none;
  display: block;
  font-family: "Oswald", serif;
  font-size: 40px;
  color: #555;
}
#f_clientes #Clientes #iconos_2 ul li:hover {
  color: #07eba4;
}
#f_clientes #Clientes #iconos_3 ul {
  display: block;
  margin: -3.9% 0% 0% 45%;
  position: relative;
  display: flex;
}
#f_clientes #Clientes #iconos_3 ul li {
  list-style: none;
  display: block;
  font-family: "Oswald", serif;
  font-size: 40px;
  color: #555;
}
#f_clientes #Clientes #iconos_3 ul li:hover {
  color: #3b5999;
}
#f_clientes #Clientes #iconos_3 ul li:hover .fa {
  color: red;
  text-shadow: 0 0 15px red;
}
#f_clientes #Clientes #iconos_4 ul {
  display: block;
  margin: -3.9% 0% 0% 60%;
  position: relative;
  display: flex;
}
#f_clientes #Clientes #iconos_4 ul li {
  list-style: none;
  display: block;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  color: #555;
}
#f_clientes #Clientes #iconos_4 ul li:hover {
  color: #e80ca9;
}
#f_clientes #Clientes #iconos_4 ul li span {
  font-family: "Roboto", serif;
  font-size: 38px;
}
#f_clientes #Clientes #iconos_5 ul {
  display: block;
  margin: -3.9% 0% 0% 75%;
  position: relative;
  display: flex;
}
#f_clientes #Clientes #iconos_5 ul li {
  list-style: none;
  display: block;
}
#f_clientes #Clientes #iconos_5 ul li:hover {
  color: #edcd1f;
}
#f_clientes #Clientes #iconos_5 ul li .fa {
  font-size: 60px;
}
#f_clientes #Clientes #iconos_5 ul li #span_1 {
  display: block;
  font-family: "Bebas Neue", cursive;
  font-size: 28px;
  margin: -100% 0% 0% 110%;
}
#f_clientes #Clientes #iconos_5 ul li #span_2 {
  display: block;
  font-family: "Roboto", serif;
  font-size: 28px;
  margin: -20% 0% 0% 110%;
}

#contacto #sec_contacto {
  width: 98.9%;
  height: 165vh;
  display: flex;
  flex-direction: column;
}
#contacto #sec_contacto #texto_contacto {
  display: block;
  margin-top: 5%;
}
#contacto #sec_contacto #texto_contacto h1 {
  font-family: "Oswald", sans-serif;
  font-size: 65px;
  color: #c6c6c6;
  text-align: center;
  margin-top: 3%;
}
#contacto #sec_contacto #texto_contacto #linea_contacto {
  display: inline-block;
  padding: 0.3% 4%;
  margin: 0% 0% 4% 46%;
  background: #edcd1f;
}
#contacto #sec_contacto #mapa {
  display: block;
  margin: -1% 0% 0% 18%;
}
#contacto #sec_contacto #oficina_principal {
  margin: 2% 0% 0% 60%;
}
#contacto #sec_contacto #oficina_principal h1 {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
}
#contacto #sec_contacto #oficina_principal #dir {
  margin: 1% 0% 0% 60%;
}
#contacto #sec_contacto #oficina_principal #dir p {
  font-family: "Roboto";
  font-size: 18px;
}
#contacto #sec_contacto #oficina_principal #correo_e_inf {
  margin: 0% 0% 0% 60%;
}
#contacto #sec_contacto #oficina_principal #correo_e_inf p {
  font-family: "Roboto";
  font-size: 18px;
}
#contacto #sec_contacto #preguntas {
  margin: -12% 0% 0% 18%;
  font-family: "Roboto";
  font-size: 18px;
}
#contacto #sec_contacto #preguntas h1 {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
}
#contacto #sec_contacto #preguntas #texto_pregunta {
  display: block;
  margin: 2% 0% 0% 0%;
}
#contacto #sec_contacto #preguntas #texto_pregunta p {
  font-family: "Roboto";
  font-size: 18px;
}
#contacto #sec_contacto #empleos {
  margin: 8% 0% 0% 60%;
}
#contacto #sec_contacto #empleos h1 {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
}
#contacto #sec_contacto #empleos #texto_empleos {
  display: block;
  margin: 2% 0% 0% 0%;
}
#contacto #sec_contacto #empleos #texto_empleos p {
  font-family: "Roboto";
  font-size: 18px;
}
#contacto #sec_contacto #formulario {
  display: block;
}
#contacto #sec_contacto #formulario #nombre_span {
  display: block;
  margin: -10% 0% 0% 18%;
}
#contacto #sec_contacto #formulario #nombre_span #Nombre {
  width: 30.4%;
  background: #f7f7f7;
  height: 3vh;
  font-size: 16px;
  border: 0;
}
#contacto #sec_contacto #formulario #email_span {
  display: block;
  margin: 0.5% 0% 0% 18%;
}
#contacto #sec_contacto #formulario #email_span #email {
  width: 30.4%;
  height: 3vh;
  font-size: 16px;
  background: #f7f7f7;
  border: 0;
}
#contacto #sec_contacto #formulario #asunto_span {
  display: block;
  margin: 0.5% 0% 0% 18%;
}
#contacto #sec_contacto #formulario #asunto_span #asunto {
  width: 30.4%;
  font-size: 16px;
  background: #f7f7f7;
  border: 0;
  height: 3vh;
}
#contacto #sec_contacto #formulario #mensaje_span {
  display: block;
  margin: 0.5% 0% 0% 18%;
}
#contacto #sec_contacto #formulario #mensaje_span #mensaje {
  font-size: 16px;
  background: #f7f7f7;
  border: 0;
}
#contacto #sec_contacto #formulario #enviar_boton {
  display: block;
  margin: 0.5% 0% 0% 39.5%;
}
#contacto #sec_contacto #formulario #enviar_boton #enviar {
  background: #1e2d3b;
  color: #ffffff;
  border: 0;
  width: 6%;
  font-family: "Roboto";
  height: 4.5vh;
  font-size: 15px;
  text-align: center;
}
#contacto #sec_contacto #formulario #linea_final {
  display: inline-block;
  padding: 0.3% 3%;
  margin: -50% 0% 4% 60%;
  background: #edcd1f;
}
#contacto #sec_contacto #formulario #presupuesto {
  display: block;
  margin: -3.5% 0% 0% 60%;
}
#contacto #sec_contacto #formulario #presupuesto h1 {
  font-family: "Roboto";
  font-size: 30px;
  color: #1e2d3b;
}
#contacto #sec_contacto #formulario #presupuesto #num h1 {
  font-family: "Roboto";
  font-size: 30px;
  color: #1e2d3b;
}

/*# sourceMappingURL=style.css.map */
