@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  height: 20%;
}

#menu_fixed {
  position: fixed;
  width: 100%;
}

#logos {
  width: 22%;
  height: 12.9vh;
  background: #edcd1f;
  float: left;
}

#logos > .logo img {
  width: 70px;
  height: 70px;
  margin: 4.5% 0% 0% 3%;
}
#logos > .logo #esfera {
  display: block;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  margin: -21.5% 0% 0% 29%;
}
#logos > .logo #construcciones {
  display: block;
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  margin: -0.5% 0% 0% 29%;
  padding: 0% 0% 10% 0%;
}

#menu {
  width: 78%;
  height: 12.9vh;
  background: #1e2d3b;
  float: left;
}
#menu .botones {
  float: right;
  text-align: center;
  list-style: none;
  margin: 5% 2% 0% 5%;
}
#menu .botones a {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
}

body #video section {
  width: 100%;
  height: 100%;
  background: white;
}
body #video section video {
  width: 100%;
  object-fit: cover;
  height: 90vh;
}
body #video section h1 {
  margin: 0;
  padding: 0;
  color: white;
  width: 50%;
  top: 50%;
  position: absolute;
  margin: 0% 0% 0% 25%;
  text-align: center;
  text-shadow: -2px -2px 2px #1e2d3b;
}
body #video section h1 #flecha {
  display: block;
}
body #video section h1 #flecha .fa {
  color: #edcd1f;
  font-size: 50px;
}
body #video section h1 span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  color: #edcd1f;
}

#servicios section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
#servicios .sec1 {
  background: url("../../PW_ForumRevista/img/ciudad.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#servicios .sec1 #nosotros_fondo {
  width: 50%;
  height: 50vh;
  background: #ffffff;
  float: left;
  margin: 0%;
  border: 50px solid #ffffff;
  border-bottom: 327.5px solid #ffffff;
}
#servicios .secText {
  padding: 50px 100px;
  width: 100%;
  height: 100vh;
}
#servicios .secText #servicios_texto {
  display: block;
  margin: 4% 30%;
}
#servicios .secText #servicios_texto h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  color: #c6c6c6;
}
#servicios .secText #linea {
  display: inline-block;
  padding: 0.4% 4%;
  margin: -50% 0% 4% 46%;
  background: #edcd1f;
}
#servicios #separaciones {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#servicios #separaciones #separacion1 {
  width: 23%;
  height: 65vh;
  background-size: cover;
  background-position: center center;
  display: flex;
}
#servicios #separaciones #separacion1 #imagen {
  display: block;
  margin: -65% 0% 0% 70%;
}
#servicios #separaciones #separacion1 #imagen h1 {
  text-align: justify;
  padding: 20px;
  color: #1e2d3b;
  font-family: "Roboto", sans-serif;
  background: #f7f7f7;
}
#servicios #separaciones #separacion1 #imagen p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  padding: 0px 20px 35px 20px;
  background: #f7f7f7;
}
#servicios #separaciones #separacion1 img {
  width: 20vw;
  height: 30vh;
  display: block;
  border: 2px solid #f7f7f7;
}
#servicios #separaciones #separacion2 {
  width: 23%;
  height: 65vh;
  background-size: cover;
  background-position: center center;
  margin: 30px 0px 0px 28px;
  display: flex;
}
#servicios #separaciones #separacion2 #imagen {
  display: block;
  margin: -65% 0% 0% 10%;
}
#servicios #separaciones #separacion2 h1 {
  text-align: justify;
  padding: 20px;
  color: #1e2d3b;
  font-family: "Roboto", sans-serif;
  background: #f7f7f7;
}
#servicios #separaciones #separacion2 p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  padding: 0px 20px 36px 20px;
  background: #f7f7f7;
}
#servicios #separaciones #separacion2 img {
  width: 20vw;
  height: 30vh;
  display: block;
  border: 1px solid #f7f7f7;
}
#servicios #separaciones #separacion3 {
  width: 23%;
  height: 65vh;
  background-size: cover;
  background-position: center center;
  margin: 30px 0px 0px 28px;
  display: flex;
}
#servicios #separaciones #separacion3 #imagen {
  display: block;
  margin: -65% 0% 0% -50%;
}
#servicios #separaciones #separacion3 img {
  width: 20vw;
  height: 30vh;
  display: block;
  border: 2px solid #f7f7f7;
}
#servicios #separaciones #separacion3 #text {
  width: 20.2vw;
  height: 30vh;
  display: block;
}
#servicios #separaciones #separacion3 #text h1 {
  text-align: justify;
  padding: 20px;
  color: #1e2d3b;
  font-family: "Roboto", sans-serif;
  background: #f7f7f7;
}
#servicios #separaciones #separacion3 #text p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  padding: 0px 20px 36px 20px;
  background: #f7f7f7;
}

/*# sourceMappingURL=style.css.map */
